* {
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-console {
  width: 70%;
}

.main-console > article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#game-canvas {
  height: 100%;
  width: 100%;
  outline: 1px solid black;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: row;
}

.info > div {
  margin: 5px 5px 5px 5px;
}
