* {
  font-family: Roboto;
}

body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #005780;
}

.main-console {
  width: 80%;
}

.main-console > article {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-console > article > h1 {
  font-family: Open Sans;
  font-size: 2em;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-console > article > p {
  margin: 0px 0px 0px 0px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  color: white;
}

#game-canvas {
  height: 100%;
  width: 100%;
  outline: 1px solid black;
  max-height: 960;
  max-width: 1280;
  margin: 5px 5px 5px 5px;
}

.info {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.info > div {
  margin: 5px 5px 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.info > button {
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#instruction {
  color: white;
}
