.main-console > article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#game-canvas {
  width: 90%;
  height: 80%;
  outline: 1px solid black;
}

#explosion {
  display: none;
}
